.single {
    max-width: 1000px;
    margin: auto;
    margin-top: 3rem;
    padding-inline: 1rem;
}

.single {
    display: flex;
    gap: 50px;
}

.single .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.single .content img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
}

.single .content .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.single .content .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.single .content .user span {
    font-weight: bold;
}

.single .menu {
    flex: 2;
}

.single .content .user .edit {
    display: flex;
    gap: 5px;
}

.single .content .user .edit a {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    color: white;
}

.single .content .user .edit button {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
}

.single .content .user .edit a {
    background: cornflowerblue;
}

.single .content .user .edit button {
    background: red;
}

.single .content h1 {
    font-size: 42px;
    color: #333;
}

.single .content p {
    text-align: justify;
    line-height: 30px;
}

.single .content .descrip ul,
.single .content .descrip ol {
    list-style: disc;
    list-style-position: inside;
    padding: 0 10px;
}

@media screen and (max-width: 940px) {
    .single {
        flex-direction: column;
    }

    .menu .post {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}